<?xml version="1.0"?>
<config>
    <modules>
        <<%= moduleId %>>
            <version>1.0.0</version>
        </<%= moduleId %>>
    </modules>
    <global>
        <% if (includeBlock) { %><blocks>
            <<%= moduleId %>>
                <class><%= moduleName %>_Block</class>
            </<%= moduleId %>>
        </blocks><% } %>
        <% if (includeHelper) { %><helpers>
            <<%= moduleId %>>
                <class><%= moduleName %>_Helper</class>
            </<%= moduleId %>>
        </helpers><% } %>
    </global>
    <frontend>
        <% if (includeController) { %><routers>
            <<%= moduleId %>>
                <use>standard</use>
                <args>
                    <module><%= moduleName %></module>
                    <frontName>myController</frontName>
                </args>
            </<%= moduleId %>>
        </routers><% } %>
    </frontend>
</config>
