<?xml version="1.0"?>
<config>
    <modules>
        <<%= moduleName %>>
            <version>1.0.0</version>
        </<%= moduleName %>>
    </modules>
    <global>
        <%_ if (includeBlock || includeWidget) { _%>
        <blocks>
            <<%= moduleId %>>
                <class><%= moduleName %>_Block</class>
            </<%= moduleId %>>
        </blocks>
        <%_ } _%>
        <%_ if (includeHelper || includeWidget) { _%>
        <helpers>
            <<%= moduleId %>>
                <class><%= moduleName %>_Helper</class>
            </<%= moduleId %>>
        </helpers>
        <%_ } _%>
        <%_ if (includeModel || includeObserver) { _%>
        <models>
            <<%= moduleId %>>
                <class><%= moduleName %>_Model</class>
            </<%= moduleId %>>
        </models>
        <%_ } _%>
        <%_ if (includeSetup) { _%>
        <resources>
            <<%= moduleFrontName %>_setup>
                <setup>
                    <module><%= moduleName %></module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </<%= moduleFrontName %>_setup>
        </resources>
        <%_ } _%>
    </global>
    <%_ if (hasFrontendComponents) { _%>
    <frontend>
        <%_ if (includeController) { _%>
        <routers>
            <<%= moduleId %>>
                <use>standard</use>
                <args>
                    <module><%= moduleName %></module>
                    <frontName><%= moduleFrontName %></frontName>
                </args>
            </<%= moduleId %>>
        </routers>
        <%_ } _%>
        <%_ if (includeObserver) { _%>
        <events>
            <controller_action_predispatch>
                <observers>
                    <<%= moduleId %>>
                        <class><%= moduleId %>/observer</class>
                        <method>sampleObserverMethod</method>
                    </<%= moduleId %>>
                </observers>
            </controller_action_predispatch>
        </events>
        <%_ } _%>
    </frontend>
    <%_ } _%>
</config>
